
<c-row ngPreserveWhitespaces>
  <table cTable>
    <thead>
      <tr>
        <th scope="col">Name Usine</th>
        <th scope="col">code</th>
        <th scope="col">Description</th>
        <th scope="col">release date</th>
        <th scope="col">total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col">Name Usine</td>
        <td scope="row">104</td>
        <td scope="col">Description</td>
        <td>02/12/2023</td>
        <td>200</td>

        
        
      </tr>
    </tbody>
  </table>
  
</c-row>
