$color_1: #fff;
$color_2: #ffffff;
$color_3: #b3b3b3;
$color_4: black;
$color_5: #a9a9a9;
$color_6: #23b499;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Caveat", cursive;
$font-family_3: "IBM Plex Mono", monospace;
$font-family_4: "Koulen", cursive;
$font-family_5: "Open Sans", sans-serif;
$background-color_1: #fff;
$background-color_2: #56bbf1;
$background-color_3: #faffaf;

@import "https://fonts.googleapis.com/css2?family=Caveat&family=IBM+Plex+Mono:ital,wght@1,600&family=Koulen&display=swap";
/*
body {
     background: linear-gradient(211deg, #0575f7, #f39006, #25f703);
    background-size: 600% 600%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
} */
.alert {
  width: 300px;
  float: right;
  padding-right: 10px;
}
section {
  background-image: linear-gradient(to bottom, #486e75, #e9e9e9);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
  .header {
    background-color: $background-color_1;
    height: 45px;
  }
  a {
    img {
      width: 134px;
      margin-top: 4px;
    }
  }
}
.signup-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  display: flex;
  .form {
    .signup {
      margin-top: -31px;
      margin-bottom: 26px;
    }
  }
}
.form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  background: rgba(0, 50, 50, 0.4);
  input {
    font-family: $font-family_1;
    outline: 0;
    width: 100%;
    color: $color_1;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
  }

  button {
    font-family: $font-family_1;
    text-transform: uppercase;
    outline: 0;
    background-color: $background-color_2;
    background-image: linear-gradient(45deg, #56bbf1, #5ee6eb);
    width: 100%;
    border: 0;
    padding: 15px;
    color: $color_2;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
  }
  .message {
    margin: 15px 0 -10px;
    color: $color_3;
    font-weight: bold;
    font-size: 14px;
    a {
      color: $color_1;
      text-decoration: none;
    }
  }
}
span {
  background-color: $background-color_3;
  color: $color_4;
  margin-right: 10px;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.accounttype {
  display: flex;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: -10px;
}
input[type="radio"] {
  visibility: hidden;
  &:checked {
    + {
      label {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
label.radio {
  cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  &:before {
    background: #56bbf1;
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  &:after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
hr {
  color: $color_5;
  opacity: 0.3;
}
h2 {
  color: $color_1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -15px;
  font-family: $font-family_2;
  font-family: $font-family_3;
  font-family: $font-family_4;
  letter-spacing: 4px;
}
.radio {
  color: $color_1;
  text-align: center;
  text-transform: capitalize;
}
::placeholder {
  color: $color_1;
  opacity: 1;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: $color_1;
  cursor: pointer;
  font-size: 1em;
  font-family: $font-family_5;
  &::-ms-expand {
    display: none;
  }
}
.select {
  position: relative;
  display: flex;
  width: 17em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
  color: #ffffff;
  &::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }
  &:hover {
    &::after {
      color: $color_6;
    }
  }
}
