<!-- Filter Form -->
<div class="filter-container mt-4">
  <form [formGroup]="filterForm" (ngSubmit)="filterMovements()">
    <div class="row">
      <div class="col-md-2">
        <label for="code">Code</label>
        <input formControlName="code" class="form-control" id="code" placeholder="Code">
      </div>
      <div class="col-md-2">
        <label for="conteneur_type">Type</label>
        <input formControlName="conteneur_type" class="form-control" id="conteneur_type" placeholder="Type">
      </div>
      <div class="col-md-2">
        <label for="date">Date</label>
        <input formControlName="date" type="date" class="form-control" id="date">
      </div>
      <div class="col-md-2">
        <label for="fournisseur">Fournisseur</label>
        <input formControlName="fournisseur" class="form-control" id="fournisseur" placeholder="Fournisseur">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary mt-4">Filter</button>
      </div>
    </div>
  </form>
</div>

<!-- Table of Grouped Movements -->
<ng-template #stockerConteneurModal let-modal>
  <div class="form-group" style="margin-bottom: 40px">
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="depot">Dépôt</label>
          <select formControlName="depot_id" class="form-control" id="depot" name="depot">
            <option *ngFor="let depot of depots" [value]="depot.id">
              {{ depot.nom }}
            </option>
          </select>
          
          <label for="prixcollecteur">Prix:</label><br>
          <input formControlName="prixcollecteur" class="form-control" id="prixcollecteur" name="prixcollecteur">
        </div>
      </form>
    </div>
  </div>
</ng-template>

<c-row ngPreserveWhitespaces class="mt-4">
  <table cTable *ngIf="groupedMovements && groupedMovements.length > 0">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Type</th>
        <th scope="col">Fournisseur</th>
        <th scope="col">Date & Time</th>
        <th scope="col">Nombre de Conteneurs</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movement of groupedMovements">
        <td>{{ movement.conteneur_code
           }}</td>
        <td>{{ movement.conteneur_type }}</td>
        <td>{{ movement.fournisseur.firstName }} {{ movement.fournisseur.lastName }} de l'usine {{ movement.fournisseur.username }} située à {{ movement.fournisseur.address }}</td>
        <td>{{ movement.date }} {{ movement.hour }}</td>
        <td>{{ movement.count }}</td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="margin-top: 10px">
            <button cButton color="warning" style="margin-left: -5px" (click)="openStockerConteneurModal(movement)" [disabled]="movement.estStoker === 1">
              Stocker
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="groupedMovements.length === 0">
    <p>Aucun Dechets</p>
  </div>
</c-row>
<router-outlet></router-outlet>
