<c-row class="mt-16">
  <c-col md="12" xl="3" *ngFor="let type of wasteSum | keyvalue">
    <c-widget-stat-b
      [title]="getStringValue(type.key)"
      class="mb-4"
      [value]="getStringValue(type.value)"
    >
      <br /><br /><br />
    </c-widget-stat-b>
  </c-col>
</c-row>

<!-- Pie Chart -->
<!-- Card container to center the chart -->
<c-card class="my-16 chart-container">
  <c-chart
    [data]="data"
    type="doughnut"
    class="small-chart"
  />
</c-card>
<c-card class="my-16 chart-container">
  <c-chart
    [data]="userChartData"
    type="polarArea"
    class="small-chart"
  />
</c-card>