<c-row>
 
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Layout</strong> <small>Gutters</small>
      </c-card-header>
      <c-card-body>

          <form cForm class="row g-3">
            <c-col md="6">
              <label cLabel for="inputEmail4">Name</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Email</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
            <c-col xs="12">
              <label cLabel for="inputAddress">Password</label>
              <input cFormControl id="inputAddress" placeholder="1234 Main St" />
            </c-col>
            <c-col xs="12">
              <label cLabel for="inputAddress2">Confirm Password</label>
              <input cFormControl id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </c-col>
            
            
           
            <c-col xs="12">
              <button cButton type="submit">submit</button>
            </c-col>
          </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

 
       
  
