 <!-- Success and error messages -->
 <div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>

<div *ngIf="profileForm">
  
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <small>Modifier</small> <strong>Profil</strong>
        </c-card-header>
        <c-card-body>
         
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="row g-3">
            <c-col md="6">
              <label cLabel for="username">Nom d'utilisateur</label>
              <input
                cFormControl
                id="username"
                type="text"
                formControlName="username"
                placeholder="Votre nom d'utilisateur"
              />
              <div *ngIf="profileForm.get('username')?.invalid && profileForm.get('username')?.touched">
                <small class="text-danger">Nom d'utilisateur est requis.</small>
              </div>
            </c-col>
            <c-col md="6">
              <label cLabel for="firstName">Nom</label>
              <input
                cFormControl
                id="firstName"
                type="text"
                placeholder="Votre Nom"
                formControlName="firstName"
              />
              <div *ngIf="profileForm.get('firstName')?.invalid && profileForm.get('firstName')?.touched">
                <small class="text-danger">Nom est requis.</small>
              </div>
            </c-col>
            <c-col md="6">
              <label cLabel for="lastName">Prénom</label>
              <input
                cFormControl
                id="lastName"
                type="text"
                placeholder="Votre Prenom"
                formControlName="lastName"
              />
              <div *ngIf="profileForm.get('lastName')?.invalid && profileForm.get('lastName')?.touched">
                <small class="text-danger">Prénom est requis.</small>
              </div>
            </c-col>
            <c-col md="6">
              <label cLabel for="email">Email</label>
              <input
                cFormControl
                id="email"
                type="email"
                placeholder="Votre Email"
                formControlName="email"
              />
              <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
                <small class="text-danger">Email valide est requis.</small>
              </div>
            </c-col>
            <c-col md="6">
              <label cLabel for="role">Role</label>
              <input
                cFormControl
                id="role"
                type="text"
                placeholder="ROLE"
                formControlName="role"
                [disabled]="true"
              />
            </c-col>
            <c-col md="6">
              <label cLabel for="phone_number">Telephone</label>
              <input
                cFormControl
                id="phone_number"
                type="text"
                placeholder="Votre numero de telephone"
                formControlName="phone_number"
              />
              <div *ngIf="profileForm.get('phone_number')?.invalid && profileForm.get('phone_number')?.touched">
                <small class="text-danger">Numéro de téléphone est requis et ne doit pas dépasser 8 caractères.</small>
              </div>
            </c-col>
            <c-col xs="12">
              <button cButton type="submit">Modifier</button>
            </c-col>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
