<div>
  <div class="back-button">
    <button cNavLink routerLink="/create-conteneur" routerLinkActive="active" class="btn btn-primary float-end">Ajouter</button>
  </div> 


  
<table cTable>

  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Code </th>
    <th scope="col">depot</th>
    <th scope="col">type</th>
    <th scope="col">Action</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td></td>
    <td></td>
    <td></td>
    <td>

      <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="margin-top: 10px;">
        <button  cButton color="warning" style="margin-left: -5px;">modifier</button>
        <button  cButton color="danger" style="margin-left: -5px;">supprimer</button>
        <button  cButton color="primary" style="margin-left: -5px;">publier</button>

        <!-- Bouton pour ouvrir le modal de transformation -->
      </div>


    </td>

  </tr>
  
  
  </tbody>
</table>

</div>