<c-card >
  <c-row class="g-0">
    
    <c-card-body cCol >
      <h5 cCardTitle>Profile</h5>
      <div>
       <h6>nom:</h6>
       <h6>Email :</h6>
       <h6>numéro téléphone:</h6>
       <h6>Adresse:</h6>
       <h6>Activité :</h6>
       <h6>certificat:</h6>


      </div>
      
    </c-card-body>
  </c-row>
</c-card>
<c-row class="mt-4">
  <c-col md="12" xl="3">
    <c-widget-stat-b
      [title]="'dechets textil'"
      class="mb-4"
      value="75"
    >
      <br><br><br>

    </c-widget-stat-b>
  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-b
      [title]="'dechets carton'"
      class="mb-4"
      value="150 "
    >
      <br><br><br>

    </c-widget-stat-b>
  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-b
      [title]="'dechets dangereux'"
      class="mb-4"
      value="75"
>     <br><br><br>
    </c-widget-stat-b>

  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-b
      [title]="'dechets plastique'"
      class="mb-4"
      value="75"
    >
      <br><br><br>

    </c-widget-stat-b>
  </c-col>
</c-row>